<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章列表</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/iconfont.css">
    <link rel="stylesheet" href="../public/css/main.1.css">
    <link type="text/css" rel="stylesheet" href="../public/css/jedate.css">
    <script src="../public/js/jquery-1.12.4.min.js"></script>
    <script src="../public/js/jedate.js"></script>
    <script src="../public/js/tinymce.min.js"></script>
    <script src="../public/js/tinymce_setup.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="common_title">
            文章编辑
        </div>
        <div class="container-fluid common_con">
            <form class="form-horizontal article_form">
               
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">姓名：</label>
                    <div class="col-sm-10">
                        <input type="email" name="name" class="form-control title" id="inputEmail3 name" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">性别：</label>
                    <div class="col-sm-10">
                        <input type="email" name="gender" class="form-control title" id="inputEmail3 gender" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">出生日期：</label>
                    <div class="col-sm-10">
                        <input type="email" name="birthday" class="form-control title" id="inputEmail3 birthday" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">入职日期:</label>
                    <div class="col-sm-10">
                        <input type="email" name="employmentDate" class="form-control title" id="inputEmail3 employmentDate" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">手机号码:</label>
                    <div class="col-sm-10">
                        <input type="email" name="mobilePhone" class="form-control title" id="inputEmail3 mobilePhone" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">邮箱:</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control title" id="inputEmail3 email" value="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-edit">修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>

        // 入口函数
        $(function () {

            // 需求:修改用户信息

            // 1.获取用户点击进来的id,然后通过发送ajax请求,通过id获取用户信息,渲染到页面对应的标签上
            // 需求:获取从列表传递过来的id,通过id获取所有的文章信息,展现在页面对应的标签上
            var id = window.location.search.split('=')[1]
            // 2.发送ajax请求,把用户信息渲染到页面上
            $.ajax({
                url: 'http://localhost:3000/employees',
                data: {
                    id: id
                },
                success: function (backData) {
                  console.log(backData);
                  
                        // 把数据渲染到对应的标签上
                  $('#name').val(backData.data.name)
                  $('#gender').val(backData.data.gender)
                  $('#birthday').val(backData.data.birthday)
                  $('#employmentDate').val(backData.data.employmentDate)
                  $('#mobilePhone').val(backData.data.mobilePhone)
                  $('#email').val(backData.data.email)
               
                    
                    
                }
            });


            // // 3.给按钮注册点击事件
            // $('. btn-edit').on('click', function () {
            //     // 3.1获取输入框中的内容,把返回的数据添加到框中
            //     var data = $('form').serialize();//可以获取form表单中带有name属性的标签的值
            //     // 发送ajax请求
            //     $.ajax({
            //         type:'post',
            //         url:'http://localhost:3000/employees/update',
            //         data,
            //         success:function(backData){
            //             alert('修改成功!')
            //         }
            //     })


            // })

        })

    </script>


</body>


</html>